.js .paragraph-type-top.paragraphs-previewer-popup--button-added {
    justify-content: flex-end;
}
    .js .paragraph-type-top.paragraphs-previewer--button-added .paragraph-type-title {
        margin-right: auto;
    }

.paragraphs-previewer-popup__link-container {
    margin-bottom: .5rem;
    margin-right: .5rem;
    }
    .paragraphs-previewer-popup__link-container--experimental {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: .5rem;
    }