/**
 * @file
 * Styles for Paragraphs Previewer rendered page.
 */

/* Cleanup themes that always show the header and footer (ex. bartik) */
body.paragraphs-previewer-popup > header,
body.paragraphs-previewer-popup > div > header,
body.paragraphs-previewer-popup #page > header,
body.paragraphs-previewer-popup > footer,
body.paragraphs-previewer-popup > div > footer,
body.paragraphs-previewer-popup #page > footer {
  display: none;
}

/* Compact main content */
html.paragraphs-previewer-popup-html,
body.paragraphs-previewer-popup,
body.paragraphs-previewer-popup > main,
body.paragraphs-previewer-popup > main > .layout-content,
body.paragraphs-previewer-popup #main-wrapper,
body.paragraphs-previewer-popup #main-wrapper > #main,
body.paragraphs-previewer-popup #main-wrapper > #main > #content {
  min-height: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

/* Set HTML background color to the same as the modal */
html.paragraphs-previewer-popup-html {
  background-color: #232323;
}